.header_mx h2:after {
  content: '';
  width: 40px;
  position: absolute;
  bottom: -6px;
  left: 10px;
  border-bottom: solid 5px #0c9;
}

.header_mx h1{
  color:#545454;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0, 0;
}
 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.image_background {
  background: url("../img/2b.jpg") repeat scroll 0 0 transparent;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background-size: 100% ;
  background-position: center;
  height: 520px;
}

.texto_parrafo p {
  color:#424242;
  font-size: 16px;
}
